<div class="col-md-12 column">
    <form class="form-signin vertical-padding-10" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control vertical-padding-10" placeholder="user name" required="" autofocus="">
        <input type="password" class="form-control" placeholder="Password" required="">
        <label class="checkbox vertical-padding-10">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
